.userName {
  overflow: hidden;
}
.timer {
  width: 60px;
  height: 60px;
  background-color: var(--color-grey-500);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.smallCircle {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  transform-origin: right center;
  height: 100%;
}
.smallCircle1 {
  z-index: 2;
  background-color: var(--color-primary);
  transition: all 5s linear;
}
.smallCircle2 {
  z-index: 3;
  background-color: var(--color-primary);
  transition: all 10s linear;
}
.smallCircle3 {
  z-index: 4;
  background-color: #fff;
  opacity: 1;
}
@media (max-width: 400px) {
  .userName,
  .status {
    text-overflow: ellipsis;
    max-width: 55px;
    white-space: nowrap;
  }
}

.highlight {
  color: var(--color-primary);
}
