@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #60a5fa;
  --color-primary-light: #e5efff;
  --color-primary-dark: #3b82f6;
  --color-grey-text: #9ca3af;
  --color-grey-0: #f9fafb;

  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;

  --color-danger-light: #fee2e2;
  --color-danger: #b91c1c;
  --color-danger-dark: #991b1b;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;
  --gutter-component: 12px;
  --gutter-component-md: 24px;
  --gutter-component-large: 32px;
  --padding-component-x: 16px;
  --padding-component-y: 8px;

  --gutter-left-component: 16px;
  --gutter-top-component: 12px;
}
:root.dark-mode {
  --color-primary: #d946ef;
  --color-primary-light: #e879f9;
  --color-primary-dark: #c026d3;
  --color-grey-text: #cbd5e1;
  --color-grey-0: #020617;

  --color-grey-50: #020617;
  --color-grey-100: #1e293b;
  --color-grey-200: #334155;
  --color-grey-300: #475569;
  --color-grey-400: #64748b;
  --color-grey-500: #94a3b8;
  --color-grey-600: #cbd5e1;
  --color-grey-700: #e2e8f0;
  --color-grey-800: #f1f5f9;
  --color-grey-900: #f8fafc;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* Creating animations for dark mode */
  transition: background-color 0.3s, border 0.3s;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--color-grey-700);
  background-color: var(--color-grey-100);
  transition: color 0.3s, background-color 0.3s;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 16px;
  height: 100vh;
  overflow: hidden;
}
img {
  max-width: 100%;

  /* For dark mode */
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}
input {
  outline: none;
  /* background-color: var(--color-grey-200); */
  background-color: transparent;
}
